/* Ruy's styles */

#Hello {
  fill:#488F71;
  position: absolute;
  left: 250px;
  top: 250px;
  transform: translate(400px, 100px);
}

#World {
  fill:#4E448D;
  position: absolute;
  left: 250px;
  top: 250px;
  transform: translate(400px, 300px);
}

#AbstractWoman {
  position: absolute;
  left: 0;
  top: 250px;
  z-index: 0;
  transform: scale(.75) translate(175px, 560px);
}

#BirdcageGirl {
  position: absolute;
  left:0;
  top:0;
  z-index: 1;
}

.square {
  float: left;
  display: block;
  position: absolute;
  left: 350px;
  top: 0;
}

/* Sparrow's Styles */
#sparrowSvg {
  height: 400px;
  width: 400px;
}

#sparrow {
  position: absolute;
}

#sparrow-text {
  width: 200px;
  z-index:10;
  text-align: right;
  color: darkgray;
  font-family: "Comic Sans MS", cursive, sans-serif
}

#sparrow-text:hover {
  cursor: progress;
}

#sparrowSvg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
