/* Sparrow's Styles */
#sparrowSvg {
  height: 400px;
  width: 400px;
}

#sparrow {
  position: absolute;
}

#sparrow-text {
  width: 200px;
  z-index:10;
  text-align: right;
  color: darkgray;
  font-family: "Comic Sans MS", cursive, sans-serif
}

#sparrow-text:hover {
  cursor: progress;
}

#sparrowSvg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}